:root {
    --light-grey: #E0E0E0;
    --grey: #BDBDBD;
    --dark-grey: #333;
    --bg-color: #F5F5F5;
    --item-size: 228px;
}

.product-name {
    font-size: 26px;
    font-weight: bolder;
    color: var(--dark-grey);
    margin-bottom: 18px;
}

.main-bg {
    width: 100%;
    height: 64px;
    background-color: #282828;
}

.main-info {
    margin: 0 auto;
    margin-top: 58px;
    width: 80%;
}

.img-container {
    text-align: center;
    border: .8px solid var(--light-grey);
}

.caption {
    padding-left: 48px;
}

.vendor-code {
    font-size: 14px;
    color: var(--grey);
    font-style: italic;
}

.specifications {
    font-weight: bold;
    color: var(--dark-grey);
    font-size: 20px;
    margin: 64px 0 20px 0;
}

.table > .row > span {
    padding: 0 !important;
}

.table {
    margin: 0 auto 64px auto;
    width: 80%;
}

.table > .row {
    padding: 10px;
    border-bottom: 0.8px solid var(--light-grey);
}

.spec-title {
    font-size: 12px;
    color: var(--grey);
}

.spec-value {
    font-size: 12px;
    color: var(--dark-grey);
}

@media (max-width: 768px) {

    h1 {
        margin-top: 32px;
    }

    .table {
        width: 100%;
    }

    .caption {
        padding-left: 0;
        margin-top: 32px;
    }
}

@media (max-width: 992px) {

    .table {
        width: 90%;
    }

    .main-info {
        width: 100%;
    }

    .caption {
        padding-left: 24px;
    }

}

@media (max-width: 576px) {
    .main-info {
        margin-top: 48px;
    }
}